.units {
  width: 1100px;
  margin-right: auto;
  margin-left: auto;

  .units-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__title {
    text-align: center;
    font-family: Roboto Medium;
    font-style: normal;
    font-size: 28px;
    line-height: 28px;
  }

  &__item {
    width: 270px;
    height: 233px;
    position: relative;
    margin: 15px;
    border: 1px solid #B5B4B8;
    border-radius: 10px;
    cursor: pointer;
    outline: none;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: grayscale(100%);
      border-radius: 10px;
      outline: none;
    }

    .item__text {
      position: absolute;
      bottom: 0;
      left: 32px;
      color: #fff;
      font-family: Roboto Medium;
      font-style: normal;
      font-size: 28px;
      line-height: 28px;
      text-shadow: 5px -1px 5px black, -4px 5px 8px black;
    }
  }

  &__item:hover {
    box-shadow: 1px 1px 18px grey;

    img {
      filter: grayscale(0%);
    }
  }
}
